<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>$(DEVELOPMENT_LANGUAGE)</string>
  <key>CFBundleExecutable</key>
  <string>$(EXECUTABLE_NAME)</string>
  <key>CFBundleIdentifier</key>
  <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>$(PRODUCT_NAME)</string>
  <key>CFBundlePackageType</key>
  <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
  <key>CFBundleShortVersionString</key>
  <string>$(MARKETING_VERSION)</string>
  <key>CFBundleVersion</key>
  <string>$(CURRENT_PROJECT_VERSION)</string>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>UIApplicationSceneManifest</key>
  <dict>
    <key>UIApplicationSupportsMultipleScenes</key>
    <false/>
  </dict>
  <key>UILaunchScreen</key>
  <dict/>
  <key>API_BASE_URL</key>
  <string>$(API_BASE_URL)</string>
  <key>DEFAULT_X_USER_ID</key>
  <string>$(DEFAULT_X_USER_ID)</string>
  <key>DEFAULT_VEHICLE_UID</key>
  <string>$(DEFAULT_VEHICLE_UID)</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Car Ranks needs Bluetooth access to discover and connect to your OBD-II adapter.</string>
  <key>NSBluetoothPeripheralUsageDescription</key>
  <string>Car Ranks uses Bluetooth to read telemetry from your OBD-II adapter.</string>
</dict>
</plist>
